<!-- Physical layout of chess board -->
<%= stylesheet_link_tag "board" %>
<table id="board_table">
	<% @ranks.each_byte do |rank| -%>
		<tr>
		<td class="label rank"><%= rank.chr %></td>
		<% @files.each_byte do |file| -%>
			<td class="<%= file.chr + rank.chr %>" id="<%= file.chr + rank.chr %>">&nbsp;</td>	
		<% end %>
		</tr>
		
		<% if rank==@ranks[7] %>
			<tr>
				<td>&nbsp;</td>
				<% @files.each_byte do |file| -%>
					<td class="label file"><%= file.chr %></td>	
				<% end %>
			</tr>
		<% end %>
	<% end %>
</table>
