<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'board_action' %>

<h1><%= "#{@match.lineup} - (#{@current_player.name} on #{@match.side_of(@current_player)})" %></h1>



<div class="instructions">
Instructions: Ideally you move by drag and drop. If that appears not to work, reload the page and try again.
If that still does not enable you to drag and drop your browser may not be compatible (sorry!). You can however
enter the from and to coordinates (d2 d4) in the boxes and then Submit Move. Or if you're a smartie pants
you can enter the Algebraic Notation ( Nbxc4 ). To castle drag king to its castling square. The move is submitted
when you drop the piece or hit enter, and you can undo until your opponent has answered with a move.
</div>

<br/>

<%= periodically_call_remote(:method => 'get', :frequency => 5, :url => {:id => @match.id, :action => 'status' })  %>

<span id="move_indicator_parent">
<%= render :partial => "move_indicator", :locals => {:your_turn => @your_turn} %>
</span>



<div id="board_parent" style="float:left">
<%= render :partial => "board", :locals => { :ranks => @ranks, :files => @files, :board => @board } %>
</div>

<div id="peripheral_to_board" style="margin: 0 0 0 20px; padding: 8px">
<div id="move_creator_parent">
<%= render :partial => "move/create", :locals => {:match_id => @match.id, :your_turn => @your_turn} %>
<%= render :partial => "match/actions" %>
</div>

<div id="move_list" style="border:solid 1px black; width:180px; height:300px; overflow:auto; font-family:Courier New, Courier; font-size:10pt">
  <pre><%= render :partial => 'move_list' %></pre>
</div>

</div>




