<div style="float:left; height:500px; margin-right: 25px;"> <%= fb_profile_pic( session[:facebook_user_id] ) %> </div>

<% if @current_player %>

	<h1>I feel fat, and sassy - let's play some Chess !</h1>

	You have <strong><%= @current_player.active_matches.count %></strong> Active Matches.<br/>

	<div style="margin-top: 20px"><%= link_to 'Go to my Chess games', '/enpassant/match/'  %></div>

<% else %>

	<h1>Tell us a bit about yourself first ...</h1>

	<% form_tag 'fbuser/register' do %>
	
		What nickname do you want to use ? <%= text_field_tag :name   %>
		<%= submit_tag "Save", :id => 'name_save_btn' %>
	<% end %>

<% end %>


<div style="color:white">
Debug:
<pre>
<%= session[:facebook_session].user if session[:facebook_session] %>

  <% [ :facebook_user_id, :player_id ].each do |key| -%>
<%= "session[:#{key}]= #{session[key]}" %>
  <% end -%>
  <% [ :fb_sig_user ].each do |key| -%>
<%= "params[:#{key}]= #{params[key]}" %>
  <% end -%>
</pre>
</div>