<table class="board_table" cellpadding="0" cellspacing="0">
  <% ranks.each do |rank| -%>
    <tr>
    <td class="label rank"><%= rank %></td>
    <% files.each do |file|
      position = "#{file}#{rank}"
 			p = match.board[position] 
    -%>
      <td class="piece_container <%= position %>" id="<%= position %>">
      <%  if p -%>
	  		<img src="<%= image_source_of(p) %>" id="<%= p.board_id %>" alt="<%= p.abbrev %>"/>
      <% else %>
        <img src="/images/spacer.gif" height="35" width="35"/>
      <% end %>
      </td>	
    <% end %>
    </tr>
    <% if rank==ranks[7] %>
      <tr>
        <td class="rank file">&nbsp;</td>
        <% files.each do |file| -%>
          <td class="label file"><%= file %></td>	
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
