<!-- Physical layout of chess board -->

<%= stylesheet_link_tag "board" %>

<table id="board_table">
  <% ranks.each_byte do |rank| -%>
    <tr>
    <td class="label rank"><%= rank.chr %></td>
    <% files.each_byte do |file|
      position = file.chr + rank.chr -%>
      <td class="<%= position %>" id="<%= position %>">

        <script>    Droppables.add('<%= position %>', {hoverclass:'hoverActive', onDrop:handle_release_of_piece, accept: '<%= position %>' } ); </script>

        <% p = board[position]
           if p                                       -%>

	  <!-- TODO allow png images to not be picked up by routes (served from public) -->
	  <%= 
	    image_tag image_source_of(p), 
	      :id => p.board_id, 
	      :alt => p.abbrev(:fen),
	      :class => 'piece ' + p.allowed_moves(board, position).join(' ')
	  %>

          <%= draggable_element( p.board_id, :revert => 'true', :snap => '[49,47]' ) if @match.turn_of?(@current_player) %> 

        <% else %>
          &nbsp;
        <% end %>
      </td>	
    <% end %>
    </tr>
    
    <% if rank==ranks[7] %>
      <tr>
        <td>&nbsp;</td>
        <% files.each_byte do |file| -%>
          <td class="label file"><%= file.chr %></td>	
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
