<script type="text/javascript" >
      //opponent_view is set via server script at page-load-time..
      var opponent_view = false;

      var rows_stack    = []; //FILO for reversing
      var squares_stack = []; //FILO for reversing
      
      function toggleBoardView(){
        da_board = $('board_table');
        for(i=0; i<8; i++){
          rows_stack.push( $$('.row_container')[0].remove() );
        }

        bottom_labels = $$('.bottom_labels')[0].remove();

        for(r=0; r<8; r++){    //row
          for(c=1; c<9; c++){  //column
            squares_stack.push( rows_stack[r].select('.piece_container')[0].remove() );
          }
          for(c=1; c<9; c++){  //column
            rows_stack[r].insert( squares_stack.pop() );
          }
        }

        //we want bottom labels processed by the reversal as well
        for(c=1; c<9; c++){  //column
          squares_stack.push( bottom_labels.select('.label')[0].remove() );
        }
        for(c=1; c<9; c++){  //column
          bottom_labels.insert( squares_stack.pop() );
        }

        for(i=0; i<8; i++){
          da_board.insert( rows_stack.pop() );
        }
        da_board.insert( bottom_labels );
      }

<!-- allowed moves -->
var current_allowed_moves = [];
<%  match.board.each do |pos, piece| -%>
<%  next unless piece %>
<%= %Q{current_allowed_moves['#{pos}'] = '#{piece.allowed_moves(match.board).join(' ')}';} %>
<%  end -%>

</script>
<table id="board_table" class="board_table" cellpadding="0" cellspacing="0">
  <tbody>
  <% ranks.each do |rank| -%>
    <tr class="row_container">
    <td class="label rank"><%= rank %></td>
    <% files.each do |file|
      position = "#{file}#{rank}" -%>
      <td class="piece_container <%= position %>" id="<%= position %>">

        <% #indexing the helper-returned variable board doesnt work unless called through self.board
	   p = self.board[position] 
	   capture_class = case last_move && last_move.to_coord == position
	     when true
	        " just_moved#{last_move && last_move.notation.include?('x') ? '_w_capture' : '' }"
	     else
                ''
	   end
           if p                                       -%>

	  <%= 
	    image_tag image_source_of(p), 
	      :id => p.board_id, 
	      :alt => p.abbrev,
	      :class => 'piece ' + p.allowed_moves(self.board).join(' ') + capture_class
	  %>

          <%= draggable_element( p.board_id, :revert => 'true', :snap => '[42,42]' ) if your_turn %> 

        <% else %>
          &nbsp;
        <% end %>
      </td>	
    <% end %>
    </tr>
    
    <% if rank==ranks[7] %>
      <tr class="bottom_labels">
        <td class="rank file">&nbsp;</td>
        <% files.each do |file| -%>
          <td class="label file"><%= file %></td>	
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<input type="button" value="Switch View" onclick="toggleBoardView()"/>
