<table class="board_table" cellpadding="0" cellspacing="0">
  <% Chess.ranks( request.viewed_from_side ).each do |rank| -%>
    <tr>
    <td class="label rank"><%= rank %></td>
    <% Chess.files( request.viewed_from_side ).each do |file|
         position = "#{file}#{rank}" 
	 board = match.board
         piece = board[position]
    %>
    <td class="piece_container <%= position %>" id="<%= position %>">
      <%= piece_markup(board, piece, position) %>
    </td>	
    <% end %>
    </tr>
    
    <% if rank==ranks[7..8] %>
      <tr>
        <td class="rank file">&#160;</td>
        <% files.each do |file| -%>
          <td class="label file"><%= file %></td>	
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<script>
       var selected_piece = null;
       function select_position(pos){
          if (document.getElementById('move_from_coord').value == ""){
            document.getElementById('move_from_coord').value = pos;
          } else { 
            document.getElementById('move_to_coord').value = pos;
            document.getElementById('new_move_form').submit();
          }
      }
</script>

