<script>
<!-- allowed moves -->
var current_allowed_moves = [];
<%  board.occupied_positions.each do |pos| 
           piece = board[pos]   -%>
<%= %Q{current_allowed_moves['#{pos}'] = '#{piece.allowed_moves(board).map(&:to_s).join(' ')}';} %>
<%  end -%>

</script>
<table class="board_table" cellpadding="0" cellspacing="0">
  <% ranks.each do |rank| -%>
    <tr>
    <td class="label rank"><%= rank %></td>
    <% files.each do |file|
      position = "#{file}#{rank}" -%>
      <td class="piece_container <%= position %>" id="<%= position %>">

        <script>    Droppables.add('<%= position %>', {hoverclass:'hoverActive', onDrop:handle_release_of_piece, accept: '<%= position %>' } ); </script>

        <% #indexing the helper-returned variable board doesnt work unless called through self.board
	   p = match.board[position] 
	   capture_class = case last_move && last_move.to_coord == position
	     when true
	        " just_moved#{last_move && last_move.notation.include?('x') ? '_w_capture' : '' }"
	     else
                ''
	   end
           if p                                       -%>

	  <%= 
	    image_tag image_source_of(p), 
	      :id => p.board_id, 
	      :alt => p.abbrev,
	      :class => 'piece ' + p.allowed_moves(self.board).join(' ') + capture_class,
	      :onclick => "select_position( '#{position}' )"
	  %>

          <%= draggable_element( p.board_id, :revert => 'true', :snap => '[42,42]' ) if your_turn? %> 

        <% else %>
          <img src="/images/spacer.gif" height="35" width="35" onclick="select_position('<%= position %>')"/>
        <% end %>
      </td>	
    <% end %>
    </tr>
    
    <% if rank==ranks[7] %>
      <tr>
        <td class="rank file">&nbsp;</td>
        <% files.each do |file| -%>
          <td class="label file"><%= file %></td>	
        <% end %>
      </tr>
    <% end %>
  <% end %>
</table>

<script>
       var selected_piece = null;
       function select_position(pos){
          if (document.getElementById('move_from_coord').value == ""){
            document.getElementById('move_from_coord').value = pos;
          } else { 
            document.getElementById('move_to_coord').value = pos;
            document.getElementById('new_move_form').submit();
          }
      }
</script>
