<div id="original_board" 
	   title="<%= match.start_pos %>" 
	   onclick="game_view_model.set_display_board(0)">(Starting Board)</div>

<% match.moves.each_with_index do |m, i| -%>
  <%if (i%2)==0 %>
    <div class="move_w" id="move_list_<%= i+1 %>" onclick="game_view_model.set_display_board(<%= i+1 %>)"
			  title="<%= m.created_at.strftime("%a %H:%M") %>">
      <%= ( ((i+2)/2).to_s + ". " + m.notation ).ljust(10) -%>
    </div>
  <%else%>
    <div class="move_b" id="move_list_<%= i+1 %>" onclick="game_view_model.set_display_board(<%= i+1 %>)"
		  title="<%= m.created_at.strftime("%a %H:%M") %>">
      <%= "#{m.notation}\n" -%>
    </div>
  <% end %>
<% end %>

<script language="javascript">
var objDiv = document.getElementById("move_list");
if(objDiv) objDiv.scrollTop = objDiv.scrollHeight;
</script>
