<% move_count = match.moves.count %>
<% match.moves.each_with_index do |m, i| -%>
  <%if (i%2)==0 %>
    <div class="move_w" onclick="set_board(<%= i+1 %>, <%= i+1 == move_count ? 'current_allowed_moves' : '[]' %>)">
      <%= ( ((i+2)/2).to_s + ". " + m.notation ).ljust(10) -%>
    </div>
  <%else%>
    <div class="move_b" onclick="set_board(<%= i+1 %>, <%= i+1 == move_count ? 'current_allowed_moves' : '[]' %>)">
      <%= "#{m.notation}\n" -%>
    </div>
  <% end %>
<% end %>

<script language="javascript">
var objDiv = document.getElementById("move_list");
if(objDiv) objDiv.scrollTop = objDiv.scrollHeight;
</script>
