%h1= match.lineup
- if match.turn_of? current_player
  .mobi_last_move= "Last move: #{match.moves.last.try(:notation)}"
.board= render :partial => 'board'
.move_maker= render :partial => 'move/create'