<h1 id="match_name"><%= "#{match.name}" %>
	<% if match.side_of(request.player) %>
  <span class="active_yours" data-bind="visible:your_turn"     
		style="<%= 'display:none' unless your_turn %>">Your Move</span> 
  <span class="active_theirs" data-bind="visible:!your_turn()" 
	  style="<%= 'display:none' if your_turn %>">Their Move</span> 

	<span id="match_actions">
	<%= link_to "Resign", url_for(:action => 'resign'), :confirm => I18n.t('actions.resign.confirmation') %>
	
	<a href="#" onclick="view.offer_draw(); return false;" data-bind="visible:opponents_draw_offer().length >=1">Offer Draw</a>
	
	<%= link_to "PGN", match_url(request.match, :format=>'pgn') %>
	</span>
	
	<% end %>
</h1>

<span id="move_indicator_parent">
	<div id="move_indicator">
		<span id="match_status" data-bind="text:match_status"></span>
		<div id="playback_controls">
			<input type="button" value="|&lt;" data-bind="click:display_first_move"/>
			<input type="button" value="&lt;&lt;" data-bind="enable:can_play_previous, click:decrement_displayed_move"/>
			<span data-bind="text:display_board" style="color:white"></span>
			<input type="button" value="&gt;&gt;" data-bind="enable:can_play_next, click:increment_displayed_move"/>
			<input type="button" value="&gt;|" data-bind="click:display_last_move"/>
		</div>
	</div>
	<div id="my_next_matches_div" data-bind="visible:my_next_matches().length > 0">Your turn in matches: <span id="my_next_matches"></span></div>
	<div id="server_msg" data-bind="visible:has_message(), text:server_messages()"></div>
	<div id="opponents_draw_offer" data-bind="visible:opponents_draw_offer().length >=1"></div>
</span>

<div id="board_parent" style="float:left; clear:left">
<%= render :partial => "board", :locals => {:board => match.board} %>
</div>

<div id="game_tabs">  
	<ul id='tab_headers'>
		<li><a href="#move-list">Move List</a></li>
		<li><a href="#chat_container">Chat</a></li>
	</ul>

  <div id="move_list" class="move_list">
    <%= render :partial => 'move_list' %>
  </div>

	<div id="graveyard" style="display:none">
		
	</div>

  <% if match.side_of(request.player) %>
  <div id="chat_container" style="float:left;">
   <div id="chat_window" style="overflow:auto; border:solid 1px black; height: 300px; width: 180px;">
      <%= render :partial => 'chats/show' %>
    </div>

		
    <div id="chat_form" style="float:left;">
			<form action="<%= match_chat_url(match) %>" method="POST" onsubmit="view.submit_chat(); return false;">
      <input type="text" name="chat[text]" id="chat_msg" data-bind="value: chat_msg, valueUpdate: 'keyup'"/>
			<input type="submit" value="Send" >
			</form>
    </div>
  </div>
  <% end %>

</div>

<% if match.side_of(request.player) %>
<div id="move_creator_parent" style="clear:both;">
  <%= render :partial => "move/create" %>
<!--  Your Move Queue:
  <div id="this_move_queue">
    <%=  match.gameplays.send(match.side_of(request.player)).move_queue if match.side_of(request.player) %>
  </div>
--> 
</div>
<% end %>

<script src="<%= url_for(:action => :viewmodel, :format => :js) %>"></script>
