<h1><%= "#{match.name}" %></h1>

<div id="board_region">
  <!-- TODO better visuals for move_indicator - paul -->
  <div id="move_indicators">
    <span id="move_indicator_yours" class="move_indicator <%= your_turn  ? "next_to_move"  : "" -%>">Yours</span> 
    <span id="move_indicator_theirs" class="move_indicator <%= ! your_turn  ? "next_to_move"  : "" -%>">Theirs</span> 
 </div>

  <div id="js_updatable_board">
  <%= render :partial => "board" %>
   </div>
</div>

<div id="actions_region">  
<% if side_of(current_player) %>
  <div id="move_creator_parent" >
    <%= render :partial => "move_maker" %>
  </div>
  <div id="game_actions">
  Actions: 
 <%= link_to "Resign", 
    url_for(:action => 'resign'), 
    :confirm => 'Are you truly ready to accept disgrace and sulk back
to the rock from under which you came ?' %>
 <%= link_to "PGN", 
    match_url(@match, :format=>'pgn'), 
    :title => 'PGN is the most common notation for a game, consisting of a formatted list of every move that has occurred, in algebraic notation.' %>

  <%= link_to "FEN", 
    match_url(@match, :format=>'fen'), 
    :title => 'FEN is an alternative notation for the state of a game, where the move history may not be known, but all information necessary to resume the game is in the FEN description.' %>
</div>
<!-- TODO allow Offer Draw, Claim Checkmate, Concede Mate, etc.. -->
</div>
<% end %>

  <div id="move_list" class="status_tab">
    <%= render :partial => 'move_list' %>
  </div>
  
  <% if your_turn %>
  <div id="chat_container" class="status_tab">
    <div id="chat">
      <%= render :partial => 'chats/chats', :locals => { :chats => chats } %>
    </div>
    <div id="chat_form">
      <% remote_form_for( Chat.new, :url => match_chat_path(match), :update => 'chat' ) do |f| %>
      <%= f.text_field :text, :style => 'width:150px' %>
      <%= f.submit 'Send', :onclick => "window.setTimeout(function(){$('chat_text').clear();}, 200)" %>
      <% end %>
    </div>
  </div>
  <% end %>

</div>

<div class="instructions">
  Instructions: Ideally you move by drag and drop. It's not the smoothest, but should work.
  Alternately you can enter the from and to coordinates (d2 d4) in the boxes and then Submit Move. 
  You can also enter the Algebraic Notation if you're showing off ( Nbxc4 ). To castle drag king
  to its castling square. The move is submitted when you drop the piece or hit enter. 
  Takebacks are not enabled. Have fun !
</div>

