<h1>Listing of matches</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Active</th>
    <th>Inprogress</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches.each do |match| %>
  <tr>
    <td><%= match.id %></td>
    <td><%= match.title %></td>
    <td><%= match.active %></td>
    <td><%= match.inprogress %></td>
    <td><%= link_to 'Show', match %></td>
    <td><%= link_to 'Edit', edit_match_path(match) %></td>
    <td><%= link_to 'Destroy', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Match', new_match_path %>
