<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @match.id %>
</p>

<p>
  <b>Title:</b>
  <%= @match.title %>
</p>

<p>
  <b>Active:</b>
  <%= @match.active %>
</p>

<p>
  <b>Inprogress:</b>
  <%= @match.inprogress %>
</p>


<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
