%h1
  = match.name

#board_region
  .board_status
    = render :partial => 'board_status'
  .board
    = render :partial => 'board'
  .board_controls
    = render :partial => 'board_controls'

#actions_region
  %ul
    = render :partial => 'play_tabs'
  #chat_parent
    = render :partial => 'chats/chats'
  #move_creator_parent
    = render :partial => 'move_maker'
  #move_list_parent
    = render :partial => 'move_list'

:javascript
  $('.piece').draggable( {revert:'invalid', grid:[44,44]});
  $('#actions_region').tabs();

%script
  - Board.all_positions.each do |p|
    = "  $('##{p}').droppable( {accept:'.#{p}'} )"
