<h1><%= "A Duel to the Death between #{@match.player1.name} and #{@match.player2.name}!" -%></h1>

Hi. Welcome, <%= Player.current.name %>.

<%= render "move/create" %>

<!-- these dont work however render_component does -->

<%= render "board/physical", :locals => { :ranks => @ranks, :files => @files } %>


<script>
<%= render "board/pieces", :locals => { :pieces => @pieces } %>
</script>

<script src="/dev/board_action.js"/>


<!--  render_component :controller=>'board', :action=>'physical', :params => { :side=>@viewed_from_side.to_s} -->



<p>Find me in views/match/show.html.erb</p>
