	<h1><%= "A Duel to the Death between #{@match.player1.name} and #{@match.player2.name}!" -%></h1>

Hi. Welcome, <%= @current_player.name %>.

<%= render :partial => "match/ender" %>

<%= render :partial => "move/create", :locals => {:match_id => @match.id} %>

<%= periodically_call_remote  :method => 'get', :frequency => 10, :url => {:action => 'status', :id => @match} , :update => 'move_indicator_parent' %>


<span id="move_indicator_parent">
<%= render :partial => "move_indicator", :locals => {:your_turn => @your_turn} %>
</span>

<!-- these dont work however render_component does -->

<table width="100%" border="0">
<tr>
<td width="50%">
<%= render "board/physical", :locals => { :ranks => @ranks, :files => @files } %>
</td>
<td valign="top" align="left" width="50%">
<pre id="move_list" style="border:solid 1px black; width:180px; height:350px">
<%= render :partial => "match/moves" %>
</pre>
</td>
</tr>
</table>


<script>
<%= render "board/pieces", :locals => { :pieces => @pieces } %>
</script>

<script src="/dev/board_action.js"></script>



