<div style="float:left; height:500px; margin-right: 25px;"> <%= fb_profile_pic(@userF) %> </div>
<div style=""><h1>I feel fat, and sassy - let's play some Chess !</h1></div>

<% if @current_player %>

You have <strong><%= @current_player.active_matches.count %></strong> Active Matches.<br/>

<div style="margin-top: 20px"><%= link_to 'Go to my Chess games', '/enpassant/match/'  %></div>

<% else %>

<% end %>


<div style="clear:left">
<form action="/enpassant/fbuser/update" method="POST">
	Set Name: <%= text_field_tag :name  %>
	<%= submit_tag "Save", :id => 'name_save_btn' %>
</form>
</div>