<%  #locals
    #match
    #move_in_error (for error messages)
%>
<% form_for :move, :html => { :id => 'new_move_form' }, :url => match_moves_path(@match.id)  do |f| %>
    
  
    <!-- Notation: <%= f.text_field :notation, :maxlength => '7' %> or... -->
    
    From: <%= f.text_field :from_coord, :maxlength => '2' %> and
    To: <%= f.text_field :to_coord, :maxlength => '2' %>
    <br/>
    <%= submit_tag "Submit Move", :id => 'move_submit_btn' %>
    <input type="button" value="Cancel" onclick="document.location.reload()"/>
    
    <% if move_in_error -%>
      <div id="move_errors" style="color:red">
        <ul>
          <% move_in_error.errors.each do |key, message| -%>
            <li><%= message %></li>
          <% end%>
        </ul>
      </div>
    <% end -%>
<% end %>
