<html>
  <head>
    <title><%= your_turn? ? "Your Turn - " : ""%>EnPassant</title>
    <%= stylesheet_link_tag "board" %>
    <%= stylesheet_link_tag "jquery-ui" %>
    <%= javascript_include_tag 'jquery-1.4.2.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.4.custom.min.js' %>
    <%= javascript_include_tag 'jquery.tmpl.js' %>
    <%= javascript_include_tag 'knockout-latest.min.js' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
