<html>
  <head>
    <title><%= your_turn? ? "Your Turn - " : ""%>Chess On Rails</title>
    <%= stylesheet_link_tag "board" %>
    <%= stylesheet_link_tag "jquery-ui" %>
		<script type="text/javascript">
			// Since IE refuses to gracefully allow this common convention...
			if (!window.console || !console.firebug) {
			    var names = ["log", "debug", "info", "warn", "error", "assert", "dir", "dirxml",
			    "group", "groupEnd", "time", "timeEnd", "count", "trace", "profile", "profileEnd"];
			    window.console = {};
			    for (var i = 0; i < names.length; ++i)
			        window.console[names[i]] = function() {}
			}
		</script>
    <%= javascript_include_tag 'jquery-1.4.2.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.4.js' %>
    <%= javascript_include_tag 'jquery.tmpl.js' %>
    <%= javascript_include_tag 'knockout-latest.min.js' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
